@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

#root {
  display: flex;
  flex-direction: row;
}

h1, p, h2, h3, h4, h5, h6, caption, figcaption, ul, ol, li, img, div, span, header, main, footer, table, thead, tbody, th, td, tr, body, html {
  margin: 0;
}

.page {
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 248);
}
h1, p {
  cursor: default;
}

h1 {
  font-size: 40px;
  font-family: "Arial";
}

.container {
  &__outer {
    position: relative;
    display: block;
    color: rgb(240, 80, 69);
    background-color: whitesmoke;
    height: 400px;
    top: 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  &__inner-up {
    padding: 0 40px;
    padding-top: 40px;
    position: fixed;
    width: calc(100% - 80px);
  }
  &__inner {
    padding: 0 40px;
    padding-top: 40px;
    position: absolute;
    top: 400px;
    display: block;
    background-color: rgb(240, 80, 69);
    color: whitesmoke;
    height: 400px;
    height: calc(400px - 40px);
    width: calc(100% - 80px);
  }
}